* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Default font family */
}

body, html {
    height: 100%;
}

img {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh; /* Ensures full height */
}

#colors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

span {
    color: white;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
    font-size: 3.125rem;
    margin-top: 100px;
}

.color-palette {
    border-radius: 10px;
    padding: 10px 100px;
    font-size: 3.125rem;
}

#red { background-color: #E4003A; }
#green { background-color: #54B435; }
#pink { background-color: #FF0080; }
#blue { background-color: #3572EF; }
#yellow { background-color: #FFE700; }
#black { background-color: #000000; color: white; }
#orange { background-color: #EB8317; }

/* Mobile screens (up to 600px) */
@media (max-width: 600px) {
    #container {
        padding: 20px;
        gap: 5px;
    }

    span {
        font-size: 1rem;
        padding: 10px;
        margin-top: 50px;
    }

    .color-palette {
        padding: 10px 30px;
        font-size: 1.5rem;
    }
}
